{% extends "base.html" %}
{% block content %}
<div id="container" class="maincontainer">
<h1>Six Degrees of David Bowie</h1>
<div id="results" class="results" style="display:none;width:0px;float:left;background-color:#eee">

</div>

<h3 id="try-again" style="display:none;">Try another:</h3>
<form id="first-form" class="form-inline question">
  <p>
  How was <input id="query" type="text" value="Muse" /> influenced by David Bowie?
  </p>
  <p>
  <input id="go" class="btn show-results" type="submit" value="Go" />
  </p>
</form>
</div>
<script>
  $('input.show-results').on('click', function() {
    $('#results').css({'min-height': $('#results').height()}).fadeTo('fast', 0, function() {
      $.getJSON('/path/' + $('#query').val(), function(data) {
        if (!data || !data.success) {
          $('#results').html('failed: ' + data.reason);
        }
        else {
          var results = $.map(data.path, function(x, idx) {
            if (idx === 0 || idx === data.path.length - 1) {
              x = '<b>' + x + '</b>';
            }
            return x.replace('-', ' ');
          });
          $('#results').html(results.join('<br>&nbsp;&uarr;<br>'));
        }
        $('#try-again').show();
        $('#results').css({'min-height': 0}).show().animate({width: 125}).css({
          'margin-right': 15,
          'padding': 5,
          'border': '1px dotted #ccc'
        }).fadeTo('fast', 1);
      });
    });
    return false;
  });
</script>
{% endblock %}
