{% extends "base.html" %}
{% block content %}
<div class="hero">
  <h1>Six Degrees of David Bowie</h1>
  <form class="form-inline">
    <p>
    How was <input id="query" type="text" value="Muse" /> influenced by David Bowie?
    </p>
    <p>
    <input id="go" class="btn" type="submit" value="Go" />
    </p>
  </form>
</div>
<div id="results" class="results">

</div>
<script>
  $('#go').on('click', function() {
    $.getJSON('/path/' + $('#query').val(), function(data) {
      if (!data || !data.success) {
        $('#results').html('failed: ' + data.reason);
      }
      else {
        var results = $.map(data.path, function(x) {
          return x.replace('-', ' ');
        });
        $('#results').html(results.join('<br>&nbsp;&uarr;<br>'));
      }
    });
    return false;
  });
</script>
{% endblock %}
